config/gtk-2.0/
config/gtk-3.0/
config/chromium/
config/pulse/
config/dconf/
tmux/resurrect/
config/Trolltech.conf
config/mc/
config/obs-studio/
config/QtProject.conf
config/Cadence/
config/jack/
config/pavucontrol.ini
config/rncbc.org/
config/vifm/
